<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Application</title>
</head>
  <body>
	{% extends "layout.html" %}
	{% block content %}
   <div class="home">
     <p>
	 A web application that was built using flask. This application collects real online information useful for traveling.
	 </p>
	 
   </div>
	{% endblock %}
  </body>
</html>
